@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2f74c0;
  font-family: "neucha", cursive;
}

.heading {
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  z-index: 1;
  margin: 30px;
  color: #fff;
  font-weight: 400 !important;
}

@media(max-width: 800px) {
  .heading {
    margin: 15px 0;
    font-size: 35px;
  }
}

.todos {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 10px 0;
  padding: 10px;
}

.todos__single--text {
  outline: none;
}

.icon {
  margin-left: 10px;
  font-size: 25px;
  cursor: pointer;
  transition: all ease-in-out 0.1s;
}
.icon :hover{
  transform: scale(1.05);
}

.todos__single {
  background-color: #fca311;
  margin: 10px 0px;
  padding: 10px 15px;
  border-radius: 7px;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s ease-out;
}


.task__remaining_title {
  text-align: center;
  background-color: #e76f51;
  color: #fff;
  font-size: 14px;
  border-radius: 7px;
  padding: 10px 15px;
}

.todo__done {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

.todos__container {
  display: flex;
  width: 50%;
}