@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2f74c0;
  font-family: "neucha", cursive;
}

.heading {
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  z-index: 1;
  margin: 30px;
  color: #fff;
  font-weight: 400 !important;
}

@media(max-width: 800px) {
  .heading {
    margin: 15px 0;
    font-size: 35px;
  }
}

.todos {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 10px 0;
}

.todos__single--text {
  outline: none;
}

.icon {
  margin-left: 10px;
  font-size: 25px;
  cursor: pointer;

}

.todos__single {
  background-color: #fca311;
  margin: 10px 0px;
  padding: 10px 15px;
  border-radius: 7px;
  cursor: pointer;
  width: 50%;
  display: flex;
  justify-content: space-between;
  transition: all 0.2s ease-out;
}

.todos__single:hover {
  transform: translateY(2px);
}

.task__remaining_title {
  width: 50%;
  text-align: center;
  background-color: #e76f51;
  color: #fff;
  font-size: 14px;
  border-radius: 7px;
  padding: 5px 15px;;
}