@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2f74c0;
  font-family: "neucha", cursive;
}

.heading {
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  z-index: 1;
  margin: 30px;
  color: #fff;
  font-weight: 400 !important;
}

@media(max-width: 800px) {
  .heading {
    margin: 15px 0;
    font-size: 35px;
  }
}